<% content_for :page_title do %>
お問い合わせ
<% end %>
<%= render "category" %>
<div id="container">
    <div id="main">
        <div class="post">
            <p>お問い合わせページになります。</p>
        </div>
        <div class="post clearfix">
            <p>
                <div class="field">
                    <%= form.label :name %>
                    <%= form.text_field :name %>
                  </div>

                  <div class="field">
                    <%= form.label :email %>
                    <%= form.text_field :email %>
                  </div>

                  <div class="field">
                    <%= form.label :content %>
                    <%= form.text_area :content %>
                  </div>

                  <div class="actions">
                    <%= form.submit %>
                  </div>
            </p>
        </div>

    </div>
    <%= render "sidebar" %>
</div>
