<% content_for :page_title do %>
その他
<% end %>
<%= render "category" %>
<div id="container">
    <div id="main">

        <div class="post clearfix">
            <h2>製品詳細</h2>
            <p>
        <%= @item.product_name %><br>
        <%= @item.content %><br>
        <%= @item.release_date %><br>
        <%= @item.price %>円<br>
            </p>
        </div>
        <div class="post clearfix">
            <h2>コメント</h2>
            <p>
                <% @posts.each do |post| %>
                    <%= post.title %><br>
                    <%= post.content %><br>
                <% end %>
                <%= render 'posts/form', post: @post, item_id: @item.id %>
            </p>
        </div>
    </div>
    <%= render "sidebar" %>
</div>
