<% content_for :page_title do %>
プラモデル
<% end %>
<%= render "category" %>
<div id="container">
    <div id="main">
        <div class="post">
            <p>組立式のプラスティックモデルのみ</p>
        </div>
        <div class="post clearfix">
            <h2>製品一覧</h2>
            <p>
                <% @items.each do |item| %>
        <%= item.product_name %><br>
    <% end %>
            </p>
        </div>
        <div class="post clearfix">
            <h2>製品詳細</h2>
            <p><% @items.each do |item| %>
        <%= item.product_name %><br>
        <%= item.content %><br>
        <%= item.release_date %><br>
        <%= item.price %>円<br>
    <% end %>
            </p>
        </div>
        <div class="post clearfix">
            <h2>コメント</h2>
            <p>
                <a href="posts/new">投稿</a>
            </p>
        </div>
    </div>
    <%= render "sidebar" %>
</div>
