<% content_for :page_title do %>
鉄道模型
<% end %>
<%= render "category" %>
<div id="container">
    <div id="main">
        <div class="post">
            <p>ここは文章が入ります。ここは文章が入ります。ここは文章が入ります。<br />今は、適当な文章を入れてあります。これをダミーテキストといいます。</p>
        </div>
        <div class="post clearfix">
             <h2>製品一覧</h2>
            <p>
                <% @items.each do |item| %>
        <%= item.product_name %><br>
    <% end %>
            </p>
        </div>
        <div class="post clearfix">
             <h2>製品詳細</h2>
            <p><% @items.each do |item| %>
        <%= item.product_name %><br>
        <%= item.content %><br>
        <%= item.release_date %><br>
        <%= item.price %>円<br>
    <% end %>
            </p>
        </div>
    </div>
    <%= render "sidebar" %>
</div>
